[data-amplify-authenticator] {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* Remove 'public', change slashes, and add url() */
  background-image: url("/splash-page-bg1.jpg");
  background-size: cover;
  background-position: center;
}

:root {
  --amplify-colors-brand-primary-80: #3b82f6; /* Tailwind blue-500 */
  --amplify-colors-brand-primary-90: #2563eb; /* Tailwind blue-600 */
  --amplify-components-authenticator-router-box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  --amplify-components-authenticator-router-border-width: 0;
}